USE [master]
GO
/****** Object:  Database [GoodsExchangeAtFU]    Script Date: 7/6/2024 12:43:58 PM ******/
CREATE DATABASE [GoodsExchangeAtFU]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GoodsExchangeAtFU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GoodsExchangeAtFU]
GO
/****** Object:  Table [dbo].[Campus]    Script Date: 7/6/2024 12:43:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campus](
	[Id] [char](36) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Campus__3214EC07ACC0EA5C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/6/2024 12:43:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [char](36) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Category__3214EC07AC9651E4] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 7/6/2024 12:43:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[Id] [char](36) NOT NULL,
	[ProductPostId] [char](36) NOT NULL,
	[BuyerId] [char](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatDetails]    Script Date: 7/6/2024 12:43:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatDetails](
	[Id] [char](36) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Flag] [bit] NOT NULL,
	[ChatId] [char](36) NOT NULL,
 CONSTRAINT [PK__ChatDeta__3214EC078E054CC4] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoinPack]    Script Date: 7/6/2024 12:43:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoinPack](
	[Id] [char](36) NOT NULL,
	[CoinAmount] [int] NOT NULL,
	[Price] [varchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoinTransaction]    Script Date: 7/6/2024 12:43:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoinTransaction](
	[Id] [char](36) NOT NULL,
	[TransactAt] [datetime] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[CoinPackId] [char](36) NOT NULL,
	[UserId] [char](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTPCode]    Script Date: 7/6/2024 12:43:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTPCode](
	[Id] [char](36) NOT NULL,
	[OTP] [char](6) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[CreatedBy] [char](36) NOT NULL,
 CONSTRAINT [PK__OTPCode__3214EC0726F84CAA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 7/6/2024 12:43:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Id] [char](36) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[Price] [varchar](100) NOT NULL,
	[ProductPostId] [char](36) NOT NULL,
	[PostModeId] [char](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostMode]    Script Date: 7/6/2024 12:43:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostMode](
	[Id] [char](36) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[Duration] [varchar](100) NOT NULL,
	[Price] [varchar](100) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__PostMode__3214EC073375D5C2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 7/6/2024 12:43:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [char](36) NOT NULL,
	[Url] [varchar](500) NOT NULL,
	[ProductPostId] [char](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductPost]    Script Date: 7/6/2024 12:43:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductPost](
	[Id] [char](36) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](2048) NOT NULL,
	[Price] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[ExpiredDate] [datetime] NULL,
	[CreatedBy] [char](36) NOT NULL,
	[CategoryId] [char](36) NOT NULL,
	[PostModeId] [char](36) NOT NULL,
	[CampusId] [char](36) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK__ProductP__3214EC07FE12B541] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTransaction]    Script Date: 7/6/2024 12:43:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTransaction](
	[Id] [char](36) NOT NULL,
	[Price] [varchar](50) NOT NULL,
	[TransactAt] [datetime] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[ProductPostId] [char](36) NOT NULL,
	[BuyerId] [char](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshToken]    Script Date: 7/6/2024 12:43:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshToken](
	[Id] [char](36) NOT NULL,
	[Token] [varchar](128) NOT NULL,
	[ExpiredDate] [datetime] NOT NULL,
	[UserId] [char](36) NOT NULL,
 CONSTRAINT [PK_RefreshToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 7/6/2024 12:43:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[Id] [char](36) NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
	[Date] [datetime] NOT NULL,
	[ProductPostId] [char](36) NOT NULL,
	[CreatedBy] [char](36) NOT NULL,
 CONSTRAINT [PK__Report__3214EC07C26DF6FF] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/6/2024 12:43:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [char](36) NOT NULL,
	[Fullname] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](256) NOT NULL,
	[Salt] [varchar](256) NOT NULL,
	[PhoneNumber] [varchar](12) NOT NULL,
	[Role] [varchar](36) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[Balance] [int] NOT NULL,
 CONSTRAINT [PK__User__3214EC0721D45743] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_chat_productpostid]    Script Date: 7/6/2024 12:43:59 PM ******/
CREATE NONCLUSTERED INDEX [idx_chat_productpostid] ON [dbo].[Chat]
(
	[ProductPostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_chat_userid]    Script Date: 7/6/2024 12:43:59 PM ******/
CREATE NONCLUSTERED INDEX [idx_chat_userid] ON [dbo].[Chat]
(
	[BuyerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_chatdetails_chatid]    Script Date: 7/6/2024 12:43:59 PM ******/
CREATE NONCLUSTERED INDEX [idx_chatdetails_chatid] ON [dbo].[ChatDetails]
(
	[ChatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_cointransaction_userid]    Script Date: 7/6/2024 12:43:59 PM ******/
CREATE NONCLUSTERED INDEX [idx_cointransaction_userid] ON [dbo].[CoinTransaction]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_payment_postmodeid]    Script Date: 7/6/2024 12:43:59 PM ******/
CREATE NONCLUSTERED INDEX [idx_payment_postmodeid] ON [dbo].[Payment]
(
	[PostModeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_payment_productpostid]    Script Date: 7/6/2024 12:43:59 PM ******/
CREATE NONCLUSTERED INDEX [idx_payment_productpostid] ON [dbo].[Payment]
(
	[ProductPostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_productimages_productpostid]    Script Date: 7/6/2024 12:43:59 PM ******/
CREATE NONCLUSTERED INDEX [idx_productimages_productpostid] ON [dbo].[ProductImages]
(
	[ProductPostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_productpost_categoryid]    Script Date: 7/6/2024 12:43:59 PM ******/
CREATE NONCLUSTERED INDEX [idx_productpost_categoryid] ON [dbo].[ProductPost]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_productpost_userid]    Script Date: 7/6/2024 12:43:59 PM ******/
CREATE NONCLUSTERED INDEX [idx_productpost_userid] ON [dbo].[ProductPost]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_producttransaction_buyerid]    Script Date: 7/6/2024 12:43:59 PM ******/
CREATE NONCLUSTERED INDEX [idx_producttransaction_buyerid] ON [dbo].[ProductTransaction]
(
	[BuyerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_report_productpostid]    Script Date: 7/6/2024 12:43:59 PM ******/
CREATE NONCLUSTERED INDEX [idx_report_productpostid] ON [dbo].[Report]
(
	[ProductPostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_report_userid]    Script Date: 7/6/2024 12:43:59 PM ******/
CREATE NONCLUSTERED INDEX [idx_report_userid] ON [dbo].[Report]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_user_email]    Script Date: 7/6/2024 12:43:59 PM ******/
CREATE NONCLUSTERED INDEX [idx_user_email] ON [dbo].[User]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD  CONSTRAINT [FK__Chat__BuyerId__59063A47] FOREIGN KEY([BuyerId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Chat] CHECK CONSTRAINT [FK__Chat__BuyerId__59063A47]
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD  CONSTRAINT [FK__Chat__ProductPos__571DF1D5] FOREIGN KEY([ProductPostId])
REFERENCES [dbo].[ProductPost] ([Id])
GO
ALTER TABLE [dbo].[Chat] CHECK CONSTRAINT [FK__Chat__ProductPos__571DF1D5]
GO
ALTER TABLE [dbo].[ChatDetails]  WITH CHECK ADD  CONSTRAINT [FK__ChatDetai__ChatI__5812160E] FOREIGN KEY([ChatId])
REFERENCES [dbo].[Chat] ([Id])
GO
ALTER TABLE [dbo].[ChatDetails] CHECK CONSTRAINT [FK__ChatDetai__ChatI__5812160E]
GO
ALTER TABLE [dbo].[CoinTransaction]  WITH CHECK ADD FOREIGN KEY([CoinPackId])
REFERENCES [dbo].[CoinPack] ([Id])
GO
ALTER TABLE [dbo].[CoinTransaction]  WITH CHECK ADD  CONSTRAINT [FK__CoinTrans__UserI__5DCAEF64] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[CoinTransaction] CHECK CONSTRAINT [FK__CoinTrans__UserI__5DCAEF64]
GO
ALTER TABLE [dbo].[OTPCode]  WITH CHECK ADD  CONSTRAINT [FK__OTPCode__Created__59FA5E80] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[OTPCode] CHECK CONSTRAINT [FK__OTPCode__Created__59FA5E80]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK__Payment__PostMod__5535A963] FOREIGN KEY([PostModeId])
REFERENCES [dbo].[PostMode] ([Id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK__Payment__PostMod__5535A963]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK__Payment__Product__52593CB8] FOREIGN KEY([ProductPostId])
REFERENCES [dbo].[ProductPost] ([Id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK__Payment__Product__52593CB8]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK__ProductIm__Produ__534D60F1] FOREIGN KEY([ProductPostId])
REFERENCES [dbo].[ProductPost] ([Id])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK__ProductIm__Produ__534D60F1]
GO
ALTER TABLE [dbo].[ProductPost]  WITH CHECK ADD  CONSTRAINT [FK__ProductPo__Categ__5629CD9C] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[ProductPost] CHECK CONSTRAINT [FK__ProductPo__Categ__5629CD9C]
GO
ALTER TABLE [dbo].[ProductPost]  WITH CHECK ADD  CONSTRAINT [FK__ProductPo__Creat__5070F446] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[ProductPost] CHECK CONSTRAINT [FK__ProductPo__Creat__5070F446]
GO
ALTER TABLE [dbo].[ProductPost]  WITH CHECK ADD  CONSTRAINT [FK__ProductPo__PostM__5441852A] FOREIGN KEY([PostModeId])
REFERENCES [dbo].[PostMode] ([Id])
GO
ALTER TABLE [dbo].[ProductPost] CHECK CONSTRAINT [FK__ProductPo__PostM__5441852A]
GO
ALTER TABLE [dbo].[ProductPost]  WITH CHECK ADD  CONSTRAINT [FK_ProductPost_Campus] FOREIGN KEY([CampusId])
REFERENCES [dbo].[Campus] ([Id])
GO
ALTER TABLE [dbo].[ProductPost] CHECK CONSTRAINT [FK_ProductPost_Campus]
GO
ALTER TABLE [dbo].[ProductTransaction]  WITH CHECK ADD  CONSTRAINT [FK__ProductTr__Produ__5AEE82B9] FOREIGN KEY([ProductPostId])
REFERENCES [dbo].[ProductPost] ([Id])
GO
ALTER TABLE [dbo].[ProductTransaction] CHECK CONSTRAINT [FK__ProductTr__Produ__5AEE82B9]
GO
ALTER TABLE [dbo].[ProductTransaction]  WITH CHECK ADD  CONSTRAINT [FK_ProductTransaction_User] FOREIGN KEY([BuyerId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[ProductTransaction] CHECK CONSTRAINT [FK_ProductTransaction_User]
GO
ALTER TABLE [dbo].[RefreshToken]  WITH CHECK ADD  CONSTRAINT [FK_RefreshToken_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[RefreshToken] CHECK CONSTRAINT [FK_RefreshToken_User]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK__Report__CreatedB__4F7CD00D] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK__Report__CreatedB__4F7CD00D]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK__Report__ProductP__5165187F] FOREIGN KEY([ProductPostId])
REFERENCES [dbo].[ProductPost] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK__Report__ProductP__5165187F]
GO
USE [master]
GO
